# Loading Data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving TrainingWiDS2021.csv to TrainingWiDS2021.csv

In [ ]:
import numpy as np 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import io
dat = pd.read_csv(io.BytesIO(uploaded['TrainingWiDS2021.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
print(dat.shape)

(130157, 181)

In [ ]:
dat.head()

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1
1           2        246060  ...                            0                  1
2           3        276985  ...                            0                  0
3           4        262220  ...                            0                  0
4           5        201746  ...                            0                  0

[5 rows x 181 columns]

In [ ]:
y=dat['diabetes_mellitus']

In [ ]:
y.value_counts()

0    102006
1     28151
Name: diabetes_mellitus, dtype: int64

The classification variable is skewed. Use stratified split??

In [ ]:
#drop id, y
dat = dat.drop(columns=['Unnamed: 0','encounter_id','hospital_id', 'icu_id','diabetes_mellitus'])

dat.dtypes.unique()

array([dtype('float64'), dtype('int64'), dtype('O')], dtype=object)

# EDA / Cleaning Data

Handling Missing Values

For categorical/binary values - use the most common class to impute

For numerical values* - use the mean to impute

*when the variable is majority missing, do not use the mean. Covert the NaN to a value that is out of range (-999).

## Categorial variables

In [ ]:
# dataset of categorical variables
cat = dat.select_dtypes(include=['O'])

In [ ]:
cat.head(25)

    ethnicity gender  ... icu_stay_type      icu_type
0   Caucasian      M  ...         admit         CTICU
1   Caucasian      F  ...         admit  Med-Surg ICU
2   Caucasian      F  ...         admit  Med-Surg ICU
3   Caucasian      F  ...         admit         CTICU
4   Caucasian      M  ...         admit  Med-Surg ICU
5   Caucasian      M  ...         admit  Med-Surg ICU
6   Caucasian      F  ...         admit  Med-Surg ICU
7   Caucasian      M  ...         admit  Med-Surg ICU
8   Caucasian      M  ...         admit     CCU-CTICU
9         NaN      M  ...         admit     CCU-CTICU
10   Hispanic      F  ...         admit  Med-Surg ICU
11  Caucasian      F  ...         admit  Med-Surg ICU
12  Caucasian      M  ...         admit     Neuro ICU
13  Caucasian      M  ...         admit  Med-Surg ICU
14  Caucasian      M  ...         admit          MICU
15  Caucasian      F  ...         admit          MICU
16  Caucasian      M  ...         admit  Med-Surg ICU
17   Hispanic      M  ...         admit         CTICU
18   Hispanic      M  ...         admit     Neuro ICU
19        NaN      M  ...         admit         CTICU
20  Caucasian      F  ...         admit  Med-Surg ICU
21  Caucasian      M  ...         admit          MICU
22  Caucasian      F  ...         admit  Med-Surg ICU
23  Caucasian      M  ...         admit          MICU
24  Caucasian      M  ...         admit  Med-Surg ICU

[25 rows x 6 columns]

In [ ]:
## function to check % of missing variables in each column
# dat = data set to check
# prct_val = returns columns missing more than this % (0 - 100)

def check_prct_miss(dat, prct_val):
  prct_miss = round(dat.isnull().mean()*100,2) 
  out = prct_miss[prct_miss > prct_val]

  return(out)

In [ ]:
check_prct_miss(cat, 0)

ethnicity                 1.22
gender                    0.05
hospital_admit_source    25.51
icu_admit_source          0.18
dtype: float64

In [ ]:
# binary variables: treat as categorical and NOT as numeric
binary = ["elective_surgery", "readmission_status", "apache_post_operative", "arf_apache", "gcs_unable_apache", "intubated_apache", "ventilated_apache",
"aids", "cirrhosis", "hepatic_failure", "immunosuppression", "leukemia", "lymphoma", "solid_tumor_with_metastasis"]

bin = dat[binary]
bin.head()

   elective_surgery  readmission_status  ...  lymphoma  solid_tumor_with_metastasis
0                 0                   0  ...         0                            0
1                 0                   0  ...         0                            0
2                 0                   0  ...         0                            0
3                 1                   0  ...         0                            0
4                 0                   0  ...         0                            0

[5 rows x 14 columns]

In [ ]:
# these binary variables have numeric data types
bin.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [ ]:
check_prct_miss(bin, 0)

gcs_unable_apache    0.54
dtype: float64

only 1 binary variable with missing values (gcs_unable_apache). 4 cat variables with missing values (dist missing < 25% so safe to impute this values with the most common value).

In [ ]:
#example. most common class of hospital admit source to use as imputed value
cat['hospital_admit_source'].mode().loc[0]

'Emergency Department'

In [ ]:
## function to impute missing cat/bin variables with most common value
# dat = dataset to use

def fillna_cat(dat):
    for i in dat.columns:
      impute_val = dat[i].mode().loc[0]
      dat.loc[:,(i)] = dat[i].fillna(impute_val)
      
    return(dat)

In [ ]:
cat_imputed = fillna_cat(cat)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [ ]:
fillna_cat(cat).head(25)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

    ethnicity gender  ... icu_stay_type      icu_type
0   Caucasian      M  ...         admit         CTICU
1   Caucasian      F  ...         admit  Med-Surg ICU
2   Caucasian      F  ...         admit  Med-Surg ICU
3   Caucasian      F  ...         admit         CTICU
4   Caucasian      M  ...         admit  Med-Surg ICU
5   Caucasian      M  ...         admit  Med-Surg ICU
6   Caucasian      F  ...         admit  Med-Surg ICU
7   Caucasian      M  ...         admit  Med-Surg ICU
8   Caucasian      M  ...         admit     CCU-CTICU
9   Caucasian      M  ...         admit     CCU-CTICU
10   Hispanic      F  ...         admit  Med-Surg ICU
11  Caucasian      F  ...         admit  Med-Surg ICU
12  Caucasian      M  ...         admit     Neuro ICU
13  Caucasian      M  ...         admit  Med-Surg ICU
14  Caucasian      M  ...         admit          MICU
15  Caucasian      F  ...         admit          MICU
16  Caucasian      M  ...         admit  Med-Surg ICU
17   Hispanic      M  ...         admit         CTICU
18   Hispanic      M  ...         admit     Neuro ICU
19  Caucasian      M  ...         admit         CTICU
20  Caucasian      F  ...         admit  Med-Surg ICU
21  Caucasian      M  ...         admit          MICU
22  Caucasian      F  ...         admit  Med-Surg ICU
23  Caucasian      M  ...         admit          MICU
24  Caucasian      M  ...         admit  Med-Surg ICU

[25 rows x 6 columns]

In [ ]:
bin_imputed = fillna_cat(bin)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [ ]:
fillna_cat(bin).head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

   elective_surgery  readmission_status  ...  lymphoma  solid_tumor_with_metastasis
0                 0                   0  ...         0                            0
1                 0                   0  ...         0                            0
2                 0                   0  ...         0                            0
3                 1                   0  ...         0                            0
4                 0                   0  ...         0                            0

[5 rows x 14 columns]

In [ ]:
#confirm no longer missing any values in cat vars
print(check_prct_miss(bin, 0))
print(check_prct_miss(cat, 0))

Series([], dtype: float64)
Series([], dtype: float64)

## Numeric variables

Missing values & imputation for remaining vars (numeric)

In [ ]:
# column names of already imputed cat/bin variables
cat_col_names = list(cat.columns.values) + list(bin.columns.values)

In [ ]:
cat_col_names

['ethnicity',
 'gender',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_stay_type',
 'icu_type',
 'elective_surgery',
 'readmission_status',
 'apache_post_operative',
 'arf_apache',
 'gcs_unable_apache',
 'intubated_apache',
 'ventilated_apache',
 'aids',
 'cirrhosis',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis']

In [ ]:
# dataset of numeric values
num = dat.drop(columns=cat_col_names)

In [ ]:
num.head()

    age        bmi  ...  h1_pao2fio2ratio_max  h1_pao2fio2ratio_min
0  68.0  22.732803  ...                   NaN                   NaN
1  77.0  27.421875  ...                  51.0                  51.0
2  25.0  31.952749  ...                   NaN                   NaN
3  81.0  22.635548  ...                 337.0                 337.0
4  19.0        NaN  ...                   NaN                   NaN

[5 rows x 156 columns]

In [ ]:
num.dtypes.unique()

array([dtype('float64')], dtype=object)

In [ ]:
## total missing values per numeric variable
for column in num:
  print(column, num[column].isnull().sum())

age 4988
bmi 4490
height 2077
pre_icu_los_days 0
weight 3463
albumin_apache 78163
apache_2_diagnosis 1685
apache_3j_diagnosis 865
bilirubin_apache 82560
bun_apache 25411
creatinine_apache 24882
fio2_apache 99720
gcs_eyes_apache 2190
gcs_motor_apache 2190
gcs_verbal_apache 2190
glucose_apache 14696
heart_rate_apache 309
hematocrit_apache 26758
map_apache 420
paco2_apache 99720
paco2_for_ph_apache 99720
pao2_apache 99720
ph_apache 99720
resprate_apache 808
sodium_apache 24519
temp_apache 6611
urineoutput_apache 63167
wbc_apache 29475
d1_diasbp_invasive_max 95068
d1_diasbp_invasive_min 95068
d1_diasbp_max 277
d1_diasbp_min 277
d1_diasbp_noninvasive_max 1636
d1_diasbp_noninvasive_min 1636
d1_heartrate_max 262
d1_heartrate_min 262
d1_mbp_invasive_max 94868
d1_mbp_invasive_min 94868
d1_mbp_max 327
d1_mbp_min 327
d1_mbp_noninvasive_max 2228
d1_mbp_noninvasive_min 2228
d1_resprate_max 683
d1_resprate_min 683
d1_spo2_max 532
d1_spo2_min 532
d1_sysbp_invasive_max 95038
d1_sysbp_invasive_min 95038
d1_sysbp_max 271
d1_sysbp_min 271
d1_sysbp_noninvasive_max 1623
d1_sysbp_noninvasive_min 1623
d1_temp_max 4494
d1_temp_min 4494
h1_diasbp_invasive_max 104829
h1_diasbp_invasive_min 104829
h1_diasbp_max 5527
h1_diasbp_min 5527
h1_diasbp_noninvasive_max 11339
h1_diasbp_noninvasive_min 11339
h1_heartrate_max 4074
h1_heartrate_min 4074
h1_mbp_invasive_max 104766
h1_mbp_invasive_min 104766
h1_mbp_max 6530
h1_mbp_min 6530
h1_mbp_noninvasive_max 13297
h1_mbp_noninvasive_min 13297
h1_resprate_max 6454
h1_resprate_min 6454
h1_spo2_max 6242
h1_spo2_min 6242
h1_sysbp_invasive_max 104807
h1_sysbp_invasive_min 104807
h1_sysbp_max 5519
h1_sysbp_min 5519
h1_sysbp_noninvasive_max 11330
h1_sysbp_noninvasive_min 11330
h1_temp_max 29703
h1_temp_min 29703
d1_albumin_max 71406
d1_albumin_min 71406
d1_bilirubin_max 76735
d1_bilirubin_min 76735
d1_bun_max 13734
d1_bun_min 13734
d1_calcium_max 16692
d1_calcium_min 16692
d1_creatinine_max 13273
d1_creatinine_min 13273
d1_glucose_max 8243
d1_glucose_min 8243
d1_hco3_max 20047
d1_hco3_min 20047
d1_hemaglobin_max 16232
d1_hemaglobin_min 16232
d1_hematocrit_max 15588
d1_hematocrit_min 15588
d1_inr_max 81213
d1_inr_min 81213
d1_lactate_max 95503
d1_lactate_min 95503
d1_platelets_max 18557
d1_platelets_min 18557
d1_potassium_max 12546
d1_potassium_min 12546
d1_sodium_max 13270
d1_sodium_min 13270
d1_wbc_max 17429
d1_wbc_min 17429
h1_albumin_max 119005
h1_albumin_min 119005
h1_bilirubin_max 119861
h1_bilirubin_min 119861
h1_bun_max 104990
h1_bun_min 104990
h1_calcium_max 105921
h1_calcium_min 105921
h1_creatinine_max 104784
h1_creatinine_min 104784
h1_glucose_max 75073
h1_glucose_min 75073
h1_hco3_max 106395
h1_hco3_min 106395
h1_hemaglobin_max 102790
h1_hemaglobin_min 102790
h1_hematocrit_max 102956
h1_hematocrit_min 102956
h1_inr_max 81213
h1_inr_min 81213
h1_lactate_max 118467
h1_lactate_min 118467
h1_platelets_max 105729
h1_platelets_min 105729
h1_potassium_max 100821
h1_potassium_min 100821
h1_sodium_max 101781
h1_sodium_min 101781
h1_wbc_max 105986
h1_wbc_min 105986
d1_arterial_pco2_max 84461
d1_arterial_pco2_min 84461
d1_arterial_ph_max 84807
d1_arterial_ph_min 84807
d1_arterial_po2_max 84010
d1_arterial_po2_min 84010
d1_pao2fio2ratio_max 93339
d1_pao2fio2ratio_min 93339
h1_arterial_pco2_max 107666
h1_arterial_pco2_min 107666
h1_arterial_ph_max 107849
h1_arterial_ph_min 107849
h1_arterial_po2_max 107445
h1_arterial_po2_min 107445
h1_pao2fio2ratio_max 113397
h1_pao2fio2ratio_min 113397

the max and min variables have the same # of missing of values. so either has both values or none. can combine the min and max into avg?

In [ ]:
#check missing value dist in numeric variables
print(check_prct_miss(num, 50))

albumin_apache          60.05
bilirubin_apache        63.43
fio2_apache             76.62
paco2_apache            76.62
paco2_for_ph_apache     76.62
                        ...
h1_arterial_ph_min      82.86
h1_arterial_po2_max     82.55
h1_arterial_po2_min     82.55
h1_pao2fio2ratio_max    87.12
h1_pao2fio2ratio_min    87.12
Length: 73, dtype: float64

In [ ]:
# list of the column names to exclude from imputing mean
num_imp_exclude = list((check_prct_miss(num, 50)).index)

In [ ]:
## function for imputing the numeric values:
# dat = dataset to use
# col_list = list of columns not using mean imputation


def fillna_num(dat, col_list):
    for i in dat.columns:
        
        if i in col_list:
        
            #fill max,min variables
            dat.loc[:,(i)].fillna(-999,inplace = True)
                        
        else:
            dat.loc[:,(i)] = dat[i].fillna(dat[i].mean())
            
            
    return(dat)

In [ ]:
num.head()

    age        bmi  ...  h1_pao2fio2ratio_max  h1_pao2fio2ratio_min
0  68.0  22.732803  ...                   NaN                   NaN
1  77.0  27.421875  ...                  51.0                  51.0
2  25.0  31.952749  ...                   NaN                   NaN
3  81.0  22.635548  ...                 337.0                 337.0
4  19.0        NaN  ...                   NaN                   NaN

[5 rows x 156 columns]

In [ ]:
num_imputed = fillna_num(num,num_imp_exclude)

In [ ]:
num_imputed.head()

    age        bmi  ...  h1_pao2fio2ratio_max  h1_pao2fio2ratio_min
0  68.0  22.732803  ...                -999.0                -999.0
1  77.0  27.421875  ...                  51.0                  51.0
2  25.0  31.952749  ...                -999.0                -999.0
3  81.0  22.635548  ...                 337.0                 337.0
4  19.0  29.110260  ...                -999.0                -999.0

[5 rows x 156 columns]

# Imputation (All)

I looked at the numeric and categorical variables separately just to help me figure out what to do with them. You can just use the functions/code in this section to directly clean the primary data set

In [ ]:
## function to check % of missing variables in each column
# dat = dataset to check
# prct_val = returns columns missing more than this % (0 - 100)

def check_prct_miss(dat, prct_val):
  prct_miss = round(dat.isnull().mean()*100,2) 
  out = prct_miss[prct_miss > prct_val]

  return(out)

In [ ]:
### function for imputing all types of variables together ###
# dat = dataset to use

def fillna_all(dat):
  # dataset of categorical variables
  cat = dat.select_dtypes(include=['O'])

  # binary variables, also treat as categorical
  binary = ["elective_surgery", "readmission_status", "apache_post_operative", "arf_apache", "gcs_unable_apache", "intubated_apache", "ventilated_apache", 
            "aids", "cirrhosis", "hepatic_failure", "immunosuppression", "leukemia", "lymphoma", "solid_tumor_with_metastasis"]

  #combined list of cat/bin variable names
  cat_col_names = list(cat.columns.values) + binary

  # dataset of numeric values
  num = dat.drop(columns=cat_col_names)


  # list of the column names to exclude from imputing mean (at least 50% of the values are missing per var)
  num_imp_exclude = list((check_prct_miss(num, 50)).index)

  ## imputing missing values
  for i in dat.columns:

    # for cat/bin variables fill missing values with most common class
    if i in cat_col_names:
      impute_val = dat[i].mode().loc[0]
      dat.loc[:,(i)] = dat[i].fillna(impute_val)

    #imputing numeric variables
    else:
      if i in num_imp_exclude:
        #fill variables mostly missing with value out of range
        dat.loc[:,(i)].fillna(-999,inplace = True)

        # fill all other numeric var with mean               
      else:
        dat.loc[:,(i)] = dat[i].fillna(dat[i].mean())

  return(dat)

In [ ]:
## dataset clean with imputation
dat_imputed = fillna_all(dat)
dat_imputed.head()

    age        bmi  ...  lymphoma solid_tumor_with_metastasis
0  68.0  22.732803  ...         0                           0
1  77.0  27.421875  ...         0                           0
2  25.0  31.952749  ...         0                           0
3  81.0  22.635548  ...         0                           0
4  19.0  29.110260  ...         0                           0

[5 rows x 176 columns]

In [ ]:
#check there are no more missing values in this imputed dataset
check_prct_miss(dat_imputed, 0)

Series([], dtype: float64)

Idea: since the min/max variables are either both missing or both report and these have a lot of missing values anyways, combine the two columns into 1 as an avg

In [ ]:
### function to combine the min/max variables into one ###
# dat = data set to use (will want to use the already clean set with imputation)

def combo_min_max_var(dat):

  # look for the min/max variables
  search_values  = ["_min", "_max"]

  # dataset just of these variables
  min_max_dat = pd.DataFrame(dat.loc[:,dat.columns.str.contains('|'.join(search_values ))])

  # separate only to min and only to max
  min_dat = min_max_dat.loc[:,min_max_dat.columns.str.contains("_min")]
  max_dat = min_max_dat.loc[:,min_max_dat.columns.str.contains("_max")]

  #reconfigure the column names
  min_max_col_names = list(min_dat.columns.values)
  avg_col_names = [sub.replace('_min', '_avg') for sub in min_max_col_names] 

  # calculate the avg of each min/max variable pair
  avg_dat_list = [[] for i in range(len(min_dat.columns))]
  for i in range(len(min_dat.columns)):
    new_col = ((min_dat.iloc[:,i] + max_dat.iloc[:,i] )/ 2)
    new_col_list = new_col.to_list()
    avg_dat_list[i] = new_col_list


  #convert to dataframe
  avg_df = pd.DataFrame(avg_dat_list).transpose()
  avg_df.columns = avg_col_names

  #drop the orig min/max vars from dataset
  dat = dat.drop(columns=list(min_max_dat.columns.values))

  #add the new avg variables onto the data
  result = pd.merge(dat, avg_df, left_index=True, right_index=True, how="outer") 

  return(result)

In [ ]:
# use already imputed data to combine the min/max variables
dat_imputed_avg = combo_min_max_var(dat_imputed)
dat_imputed_avg.shape

(130157, 112)

In [ ]:
dat_imputed_avg.head()

    age        bmi  ...  h1_arterial_po2_avg h1_pao2fio2ratio_avg
0  68.0  22.732803  ...               -999.0               -999.0
1  77.0  27.421875  ...                 51.0                 51.0
2  25.0  31.952749  ...               -999.0               -999.0
3  81.0  22.635548  ...                301.0                337.0
4  19.0  29.110260  ...               -999.0               -999.0

[5 rows x 112 columns]

# Encoding

In [ ]:
# number of levels for each of the categorical variables
for column in cat:
  print(column, cat[column].value_counts().count())

ethnicity 6
gender 2
hospital_admit_source 15
icu_admit_source 5
icu_stay_type 3
icu_type 8

In [ ]:
# dist of each of levels in the cat variables
for column in cat:
  print(column)
  print( cat[column].value_counts() )

ethnicity
Caucasian           100236
African American     13911
Other/Unknown         6261
Hispanic              5049
Asian                 2198
Native American        915
Name: ethnicity, dtype: int64
gender
M    70518
F    59573
Name: gender, dtype: int64
hospital_admit_source
Emergency Department    51258
Operating Room          13757
Floor                   11324
Direct Admit             8253
Recovery Room            4563
Other Hospital           2417
Acute Care/Floor         2097
Step-Down Unit (SDU)     1607
PACU                     1031
Other ICU                 283
Chest Pain Center         253
ICU to SDU                 62
ICU                        37
Observation                10
Other                       7
Name: hospital_admit_source, dtype: int64
icu_admit_source
Accident & Emergency         76846
Operating Room / Recovery    27436
Floor                        21459
Other Hospital                3464
Other ICU                      712
Name: icu_admit_source, dtype: int64
icu_stay_type
admit       124741
transfer      4801
readmit        615
Name: icu_stay_type, dtype: int64
icu_type
Med-Surg ICU    71468
CCU-CTICU       11220
MICU            10944
Neuro ICU       10533
Cardiac ICU      8276
SICU             8258
CSICU            4981
CTICU            4477
Name: icu_type, dtype: int64

how do we want to handle encoding the cat variables? since the hospital_admit_source var has 15 levels one hot encoding will make it very sparse... but it is only 1 variable so that might be ok

other options for encoding?
https://www.kaggle.com/subinium/11-categorical-encoders-and-benchmark

# MODELING

In [ ]:
# convert to numpy array for cv
X=dat_imputed_avg.to_numpy()
X.shape

(130157, 112)

In [ ]:
X

array([[68.0, 22.73280282, 0, ..., -999.0, -999.0, -999.0],
       [77.0, 27.421875, 0, ..., 7.45, 51.0, 51.0],
       [25.0, 31.95274882, 0, ..., -999.0, -999.0, -999.0],
       ...,
       [73.0, 32.26537065, 0, ..., 7.231, 163.0, 163.0],
       [81.0, 24.40857925, 0, ..., -999.0, -999.0, -999.0],
       [35.0, 30.13235818, 0, ..., -999.0, -999.0, -999.0]], dtype=object)

In [ ]:
## dropping the cat/bin variables from data for now since they haven't been encoded yet
prepare_data = dat_imputed_avg.drop(columns=cat_col_names)
X=prepare_data.to_numpy()
X.shape

(130157, 92)

In [ ]:
#using cv to compare performance

from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=3, random_state=1)  #15 
skf.get_n_splits(X,y)

print(skf)

#save each of the folds
X_train_list, X_test_list, y_train_list, y_test_list = [], [], [],[]

for train_index, test_index in skf.split(X,y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
 
    print(X_train.shape,y_train.shape)

    X_train_list.append(X_train)
    X_test_list.append(X_test)
    y_train_list.append(y_train)
    y_test_list.append(y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

StratifiedKFold(n_splits=3, random_state=1, shuffle=False)
(86771, 92) (86771,)
(86771, 92) (86771,)
(86772, 92) (86772,)

In [ ]:
X_train_list[0]

array([[  76.        ,   30.13894917,  152.4       , ..., -999.        ,
        -999.        , -999.        ],
       [  66.        ,   31.31487889,  170.        , ..., -999.        ,
        -999.        , -999.        ],
       [  69.        ,   29.26681784,  157.5       , ..., -999.        ,
        -999.        , -999.        ],
       ...,
       [  73.        ,   32.26537065,  177.8       , ...,    7.231     ,
         163.        ,  163.        ],
       [  81.        ,   24.40857925,  185.4       , ..., -999.        ,
        -999.        , -999.        ],
       [  35.        ,   30.13235818,  182.9       , ..., -999.        ,
        -999.        , -999.        ]])

In [ ]:
X_train

array([[  68.        ,   22.73280282,  180.3       , ..., -999.        ,
        -999.        , -999.        ],
       [  77.        ,   27.421875  ,  160.        , ...,    7.45      ,
          51.        ,   51.        ],
       [  25.        ,   31.95274882,  172.7       , ..., -999.        ,
        -999.        , -999.        ],
       ...,
       [  71.        ,   27.54760074,  170.2       , ..., -999.        ,
        -999.        , -999.        ],
       [  47.        ,   46.23592931,  172.7       , ...,    7.32      ,
          74.2       ,  123.6666667 ],
       [  57.        ,   34.07203249,  170.2       , ..., -999.        ,
        -999.        , -999.        ]])

## Simple Decision Tree

In [ ]:
# decision tree (only one of the train/test sets)

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
from sklearn.metrics import roc_auc_score

decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
decision_tree = decision_tree.fit(X_train, y_train)

roc_auc_score(y_test, decision_tree.predict_proba(X_test)[:, 1])

0.7275606246507069

In [ ]:
# decision tree - use cross validation to fit model

auc_folds=[]

for j in range(3):  
  decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
  decision_tree = decision_tree.fit(X_train_list[j], y_train_list[j])

  auc = roc_auc_score(y_test_list[j], decision_tree.predict_proba(X_test_list[j])[:, 1])
  
  auc_folds.append(auc)



print(auc_folds)

[0.7279918683510569, 0.7444380544061071, 0.7275606246507069]

would have to do some parameter tuning to try to make this better? or use a diff model type